/* .container {
    height: 100%;
    width: 100%;
    margin: 0;
    position: absolute;
}

.sky {
    background-color: lightblue;
    position: absolute;
    width: 100%;
    height: 90%;
}

.ground {
    background-color: lightgreen;
    position: absolute;
    width: 100%;
    height: 10%;
    /* top: 90%;
    z-index: +1; */

/* .pipe {
  
    background-color: blueviolet;
    width: 103px;
    height: 500px;
    position: absolute;
}  */

/* .topPipe {
    background-color: blueviolet;
    transform: rotate(180deg);
    width: 103px;
    height: 500px;
    position: absolute;
} */


