

<table class="table">
    <thead>
        <a load="/picture-create">Create new</a> 
        <tr>
            <th>Url</th>
            <th>Product</th>
            
        </tr>
    </thead>
    <tbody>

        <tr repeat.for="item of data">
            <td>
                ${item.url}
            </td>
            <td>
                ${item.productName}

            </td>
           
            <td>
                <a load="/picture-edit(${item.id})">Edit</a> |
                <a load="/picture-details(${item.id})">Details</a> |
                <a load="/picture-delete(${item.id})">Delete</a> 
            </td>
        </tr>

    </tbody>
</table>