<div class="row">
    <div class="col-md-4">
        <form id="account" method="post" style="padding-top: 2rem;">
            <h4>Log in</h4>
            <h4 if.bind="errorMessage != null" style=color:crimson>${errorMessage}</h4>
            <hr />
            <div class="form-group">
                <label for="Input_Email" style="padding-bottom: 0.5rem;">Email</label>
                <input class="form-control" type="email" value.bind="email" />
            </div>
            <br>
            <div class="form-group">
                <label for="Input_Password" style="padding-bottom: 0.5rem;">Password</label>
                <input class="form-control" type="password" value.bind="password" />
            </div>
            <hr />
            <div class="form-group">
                <button click.delegate="loginClicked($event)" type="submit" class="btn btn-primary">Log in</button>
            </div>
        </form>
    </div>
    <div class="col-sm-1 col-md-3"></div>
</div>
