

<table class="table">
    <thead>
        <tr>
            <th>Description</th> 
            <th>Location</th> 
            <th>Pictures</th> 
            <th>Is booked?</th> 
            <th>Date Added</th> 
        </tr>
    </thead>
    <tbody>

        <tr repeat.for="item of data">
            <td>
                ${item.description}
            </td>
            <td>
                ${item.location}
            </td>
            <td>
               
                ${item.pictures}
            </td>
          
            <td>
                <input id="checkBox" type="checkbox" checked.bind="item.isBooked"  disabled.bind="item.isBooked"/>   
            </td>
        
            <td>
                ${item.dateAdded}
            </td>
           
            <td>
                <a load="/booking-details(${item.id})">Details</a> 
            </td>
        </tr>

    </tbody>
</table>