<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-4">
            Id
        </dt>
        <dd class="col-sm-8">
            ${data.id}
        </dd>
        <dt class="col-sm-4">
            ContactTypeValue
        </dt>
        <dd class="col-sm-8">
            ${data.contactTypeValue}
        </dd>
        <dt class="col-sm-4">
            ContactCount
        </dt>
        <dd class="col-sm-8">
            ${data.contactCount}
        </dd>
    </dl>
</div>
<div>

    <a load="/booking-index">Back to List</a>
</div>

