
<h1>Register</h1>

<div class="row">
    <div class="col-md-4">
        <form  method="post">
            <h4>Create a new account.</h4>
            <h4 if.bind="errorMessage != null" style=color:crimson>${errorMessage}</h4>
                

            <div class="form-group">
                <label for="Input_FirstName">First Name</label>
                <input class="form-control" type="text"  maxlength="128" value.bind="firstname" required/>
            </div>
            <div class="form-group">
                <label for="Input_LastName">Last Name</label>
                <input class="form-control" type="text" maxlength="128" value.bind="lastname"/>            
            </div>
           <div class="form-group">
                <label for="Input_Email">Email</label>
                <input class="form-control" type="email"  value.bind="email" />
            </div>
            
            <div class="form-group">
                <label for="Input_Password">Password</label>
                <input class="form-control" type="password" id="Input_Password" maxlength="100" name="Input_Password" value.bind="password"/>
            </div>
            <div class="form-group">
                <label for="Input_Password">Confirm Password</label>
                <input class="form-control" type="password" id="Input_Password" maxlength="100" name="Input_Password" value.bind="confirmpassword"/>
            </div>
           
            <button type="submit" click.delegate="registerClicked($event)" class="btn btn-primary">Register</button>
        </form>
     </div>
   
</div>




