<h1>Create</h1>
<h2>Answer</h2>
<hr />
<div class="row">
    <div class="col-md-4">       
        <h4 if.bind="errorMessage != null" style=color:crimson>${errorMessage}</h4>

            <div class="form-group">
                <label >Question answer</label>
                <input class="form-control" type="text" value.bind="questionAnswer" />
            </div>
            <br>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" checked.bind="isAnswerCorrect">  Is answer correct?
                </label>
            </div>
            <br>
            <a if.bind="questionId != '' ">
            <dt class = "col-md-4">
                Question
            </dt>
            <dd class = "col-md-4">
                ${questionName}
            </dd>
        </a>
            <div class="form-group" if.bind="questionId == ''">
                <label>Questions</label>
                <select  value.bind="newQuestionId" class="form-control" >
                    <option value="">--- Please select ---</option>
                    <option model.bind="question.id" repeat.for="question of questions">${question.questionText}</option>
                </select >
            </div>
            <hr />
            <div class="form-group">
                <input click.delegate="createClicked($event)" type="submit" value="Create" class="btn btn-primary" />
            </div>

    </div>
</div>
<br>
<div>
    <a load="/answer-index">Back to List</a>
</div>