<h1>Delete</h1>
<h2>Are you sure you want to delete this?</h2>
<div>
    <h4>Product</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-4">
            Description
        </dt>
        <dd class="col-sm-8">
            ${data.description}
        </dd>
        <dt class="col-sm-4">
            Color
        </dt>
        <dd class="col-sm-8">
            ${data.color}
        </dd>
        <dt class="col-sm-4">
            Product Age
        </dt>
        <dd class="col-sm-8">
            ${data.productAge}
        </dd>
        <dt class="col-sm-4">
            Has Transport?
        </dt>
        <dd class="col-sm-8">
            ${data.hasTransport}
        </dd>
        <dt class="col-sm-4">
            Height
        </dt>
        <dd class="col-sm-8">
            ${data.height}
        </dd>
        <dt class="col-sm-4">
            Width
        </dt>
        <dd class="col-sm-8">
            ${data.width}
        </dd>
        <dt class="col-sm-4">
            Depth
        </dt>
        <dd class="col-sm-8">
            ${data.depth}
        </dd>
        <dt class="col-sm-4">
            County
        </dt>
        <dd class="col-sm-8">
            ${data.county}
        </dd>
        <dt class="col-sm-4">
            Category
        </dt>
        <dd class="col-sm-8">
            ${data.category}
        </dd>
        <dt class="col-sm-4">
           City
        </dt>
        <dd class="col-sm-8">
            ${data.city}
        </dd>
        
    </dl>
</div>
<div>
    <a load="/booking-index">Delete</a> |
    <a load="/booking-index">Back to List</a>
</div>