<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-4">
            Description
        </dt>
        <dd class="col-sm-8">
            ${data.description}
        </dd>
        <dt class="col-sm-4">
            <a if.bind="data.color != undefined">
            Color
            </a>
        </dt>
        <dd class="col-sm-8">
            ${data.color}
        </dd>
        <dt class="col-sm-4">
            Product Age
        </dt>
        <dd class="col-sm-8">
            <a if.bind="data.productAge != undefined">
            ${data.productAge}
        </a>
        </a>
        </dd>
        <dt class="col-sm-4">
            Has Transport?
        </dt>
        <dd class="col-sm-8">
            <input type="checkbox" checked.bind="datahasTransport" />  
        </dd>
        <dt class="col-sm-4">
            Height
        </dt>
        <dd class="col-sm-8">
            <a if.bind="data.height != undefined">
            ${data.height}
        </a>
        </dd>
        <dt class="col-sm-4">
            Width
        </dt>
        <dd class="col-sm-8">
            <a if.bind="data.width != undefined">
            ${data.width}
        </a>
        </dd>
        <dt class="col-sm-4">

            Depth
        </dt>
        <dd class="col-sm-8">
            <a if.bind="data.depth != undefined">
            ${data.depth}
        </a>
        </dd>
        <dt class="col-sm-4">
            County
        </dt>
        <dd class="col-sm-8">
            ${data.county}
        </dd>
        <dt class="col-sm-4">
            Category
        </dt>
        <dd class="col-sm-8">
            ${data.category}
        </dd>
        <dt class="col-sm-4">
           City
        </dt>
        <dd class="col-sm-8">
            <a if.bind="data.city != undefined">
            ${data.city}
        </a>
        </dd>
        
    </dl>
</div>
<div>
    <a load="/product-edit(${data.id})">Edit</a> |
    <a load="/product-index">Back to List</a>
</div>
